a {
	font-size: 1.8rem;
	color: white;
	text-decoration: none;
}

.containerNav {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

.bgNav {
	background-color: rgb(10, 10, 10);
	padding: 1rem;
}
img {
	height: 100vh;
	width: 100vw;
}

.logo {
	background-image: url('/src/img/logo.png');
	height: 100vh;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	margin-left: 33rem;
}

.carrito {
	background-image: url(/src/img/carrito2.jpg) !important;
	height: 100vh !important;
	width: 50vw !important;
	background-repeat: no-repeat;
}

.imgTijera {
	height: 40vh;
}
